*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: 12px;
   font-family: 'Open Sans', sans-serif;
}
:root{
   --green:#7acc2d;
   --white: #fff;
   --black: #000;
}
html{
   font-size: 62.5%;
}
/* NavBar styles start here */
.navBar{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white);
   background-color:var(--green);
}
.navBar__logo{
   width: 60px;
   height: 20px;
   margin-left: 10px;
   background-image: url(./pic/logo.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.navBar .navBar__options{
   display: flex;
}
.navBar__options li{
   margin-right: 20px;
   list-style: none;
}
li a{
   text-decoration: none;
   font-size: 1.3rem;
   color: var(--black);
}
li a:hover{
   color: var(--white);
}
/* NavBar styles finish here */

/* main section styles start here */
.main{
   width: 100%;
   height: auto;
}
.main__title{
   width: 90%;
   margin: 0 auto;
   padding-top: 10%;
   font-size: 25px;
   line-height: 2.5rem;
   text-align: center;
}
.main__section--products{
   width: 100%;
   height: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 60px;
   padding-bottom: 50px;
   background-image: url(./pic/wave.svg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.section__products--card{
   width: 200px;
   max-width: 300px;
   min-width: 180px;
   height: auto;
   margin-bottom: 20px;
   padding: 15px 10px 10px 10px;
   border-radius: 5px;
   background-color: white;
   box-shadow: -1px -2px 10px #cecece;
}
.section__products--card div{
   width: 150px;
   height: 110px;
   margin: 0 auto;
   background-image: url(./pic/cat-box.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.section__products--card:nth-of-type(2) div{
   width: 150px;
   height: 110px;
   margin: 0 auto;
   background-image: url(./pic/man-box.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
.section__products--card h2{
   margin-top: 5px;
   font-weight: bold;
   font-size: 1.5rem;
}
.section__products--card p{
   margin-top: 7px;
   font-size: 1.2rem;
   color: #757575;
   font-weight: 500;
}
.section__products--card input{
   width: 100%;
   height: 30px;
   margin-top: 10px;
   border: none;
   border-radius: 5px;
   font-size: 13px;
   font-weight: bolder;
   color: var(--white);
   background-color:var(--green);
   outline: none;
   box-shadow: 0 2px 5px var(--green);
}
.section__products--card input:hover{
   box-shadow: none;
   cursor: pointer;
}
.main__section--benefits{
   width: 100%;
   height: 850px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   /* border: 1px solid red; */
}
.benefits__card--one{
   width: 200px;
   height: 260px;
   margin-top: 20px;
   padding: 15px 10px 10px 10px;
   box-shadow: 0 -1px 5px #cecece;
   border-radius: 6px;
}
.benefits__card--two{
   width: 200px;
   height: 260px;
   margin-top: 20px;
   padding: 15px 10px 10px 10px;
   box-shadow: 0 -1px 5px #cecece;
   border-radius: 6px;
}
.benefits__card--three{
   width: 200px;
   height: 260px;
   margin-top: 20px;
   padding: 15px 10px 10px 10px;
   box-shadow: 0 -1px 5px #cecece;
   border-radius: 6px;
}
.benefits__card--one div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/cute.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.benefits__card--two div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/incredible.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.benefits__card--three div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/trust.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.benefits__card--title{
   font-size: 1.5rem;
   padding-top: 10px;
}
.benefits__card--description{
   font-size: 1.2rem;
   color: #757575;
   padding-top: 5px;
}
.division__line{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10px;
}
.main__division--line{
   color: #cecece;
   width: 90%;
   border: 1px solid;
}
.main__section--mentions{
   width: 100%;
   height: 1250px;
   padding-top: 60px;
}
.main__section--mentions h2{
   text-align: center;
   font-size: 2.5rem;
   font-weight: bold;
}
.section__mentions{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   /* flex-wrap: wrap; */
   flex-direction: column;
   width: 100%;
   height: 1050px;
   padding-top: 30px;
}
.mention--card{
   width: 200px;
   max-width: 250px;
   min-width: 180px;
   height: 270px;
   margin: 20px 0;
   padding-bottom: 10px;
   box-shadow: 0 -1px 5px #cecece;
   border-radius: 6px;
}
.mention--card:nth-of-type(1) div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/mario.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.mention--card:nth-of-type(2) div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/maria.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.mention--card:nth-of-type(3) div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/joe.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.mention--card:nth-of-type(4) div{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   background-image: url(./pic/jamaica.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.card__customer--name{
   font-size: 1.5rem;
   padding: 10px 10px 0;
}
.mentions__card--description{
   font-size: 1.2rem;
   color: #757575;
   padding: 0 10px;
}
/* main section syles end here  */

/* footer section starts here */
.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 50px;
   padding: 15px;
   color: white;
   font-size: 1.2rem;
   background-color: #323339;
}
/* footer section ends here */

/* media query for tablet */
@media screen and (min-width: 430px){
   .main__section--products{
      flex-direction: row;
      height: 350px;
   }
   .section__products--card:nth-of-type(1){
      margin-right: 15px;
   }
   .main__section--benefits{
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      height: 570px;
   }
   .benefits__card--one, .benefits__card--two, .benefits__card--three{
      margin-top: 20px;
   }
   .benefits__card--one{
      margin-right: 15px;
   }
   .main__section--mentions{
      height: 500px;
   }
   .section__mentions{
      flex-direction: row;
      height: 400px;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
   }
   .mention--card{
      margin: 0 10px;
   }
   .mention--card:nth-of-type(2){
      scroll-snap-align: center;
   }
   .mention--card:nth-of-type(3){
      scroll-snap-align: center;
   }
}
@media screen and (min-width: 615px){
   .main__section--benefits{
      height: 350px;
      margin-top: 30px;
   }
   .benefits__card--two, .benefits__card--one{
      margin-right: 5px;
   }
}
@media screen and (min-width: 700px){
   .section__products--card:nth-of-type(1){
      margin-right: 25px;
   }
   .benefits__card--two, .benefits__card--one{
      margin-right: 20px;
   }
}
@media screen and (min-width: 800px){
   .section__mentions{
      overflow-x: hidden;
      justify-content: center;
   }
}
@media screen and (min-width: 1000px){
   .main__title{
      width: 50%;
   }
}