*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: 12px;
   font-family: 'Open Sans', sans-serif;
}
:root{
   --green:#7acc2d;
   --white: #fff;
   --black: #000;
}
html{
   font-size: 62.5%;
}
/* NavBar styles start here */
.navBar{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white);
   background-color:var(--green);
   animation-name: navSlide;
   animation-duration: 3s;
}
@keyframes navSlide{
   0%{
      position: relative;
      top: -60px;
   }
   70%{
      position: relative;
      top: 0px;
   }
   to{
      top: 0px;
   }
}
.navBar__logo{
   width: 60px;
   height: 20px;
   margin-left: 10px;
   background-image: url(./pic/logo.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.navBar__logo a{
   display: inline-block;
   width: 100%;
   height: 100%;
}
.navBar .navBar__options{
   display: flex;
}
.navBar__options li{
   margin-right: 20px;
   list-style: none;
}
li a{
   text-decoration: none;
   font-size: 1.3rem;
   color: var(--black);
}
li a:hover{
   color: var(--white);
}
/* NavBar styles finish here */

/* main section styles start here */
.main{
   width: 100%;
   height: auto;
   display: grid;
   grid-template: 90px 700px / 1fr 800px 1fr;
   grid-template-areas: "nothing-one title nothing-two"
                        "nothing-one section nothing-two";
   padding-bottom:40px;
   /* background-color: lightcyan; */
   background-image: url(./pic/wave2.svg);
   background-position: top;
   background-size: contain;
   background-repeat: no-repeat;
}
.products__title{
   grid-area: title;
   align-self: center;
   font-size: 2.8rem;
   font-weight: bold;
   color: #505050;
}
.main__products{
   grid-area: section;
   /* background-color: lightblue; */
   display: grid;
   grid-template: 220px 220px 220px / 1fr;
   grid-template-areas: "productsSection__firstProduct"
                        "productsSection__secondProduct"
                        "productsSection__thirdProduct";
}
.productsSection__firstProduct{
   grid-area: productsSection__firstProduct;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
.productsSection__firstProduct div{
   width: 150px;
   height: 150px;
   border-radius: 6px;
   background-image: url(./pic/cute.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.productsSection__firstProduct p{
   width: 75%;
   height: auto;
   align-self: center;
   font-size: 1.4rem;
   vertical-align: middle;
   color: #555555;
}
.productsSection__secondProduct{
   grid-area: productsSection__secondProduct;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
.productsSection__secondProduct div{
   width: 150px;
   height: 150px;
   border-radius: 6px;
   background-image: url(./pic/trust.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.productsSection__secondProduct p{
   width: 75%;
   height: auto;
   align-self: center;
   font-size: 1.4rem;
   order: -1;
   color: #555555;
}
.productsSection__thirdProduct{
   grid-area: productsSection__thirdProduct;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
.productsSection__thirdProduct div{
   width: 150px;
   height: 150px;
   border-radius: 6px;
   background-image: url(./pic/incredible.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.productsSection__thirdProduct p{
   width: 75%;
   height: auto;
   align-self: center;
   font-size: 1.4rem;
   color: #555555;
}
/* main section styles end here */

/* footer section starts here */
.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 50px;
   padding: 15px;
   color: white;
   font-size: 1.2rem;
   background-color: #323339;
}
/* footer section ends here */

@media screen and (max-width: 800px){
   .main{
      width: 100%;
      height: 200%;
      grid-template: 80px 1fr / 100%;
      grid-template-areas: "title"
                           "section";
      background-image: none;
   }
   .products__title{
      grid-area: title;
   }
   .main__products{
      grid-area: section;
   }
}
@media screen and (max-width: 690px){
   .main__products{
      grid-template: 250px 250px 250px / 1fr;
      grid-template-areas: "productsSection__firstProduct"
                        "productsSection__secondProduct"
                        "productsSection__thirdProduct";
      gap: 35px;
   }
   .productsSection__firstProduct{
      grid-area: productsSection__firstProduct;
      flex-direction: column;
   }
   .productsSection__firstProduct div{
      width: 200px;
      transition: none;
   }
   .productsSection__firstProduct p{
      width: 100%;
      padding-top: 10px;
      font-size: 1.2rem;
   }
   .productsSection__secondProduct{
      /* grid-area: productsSection__firstProduct; */
      flex-direction: column;
   }
   .productsSection__secondProduct div{
      width: 200px;
      transition: none;
   }
   .productsSection__secondProduct p{
      width: 100%;
      padding-top: 10px;
      font-size: 1.2rem;
      order: unset;
   }
   .productsSection__thirdProduct{
      /* grid-area: productsSection__firstProduct; */
      flex-direction: column;
   }
   .productsSection__thirdProduct div{
      width: 200px;
      transition: none;
   }
   .productsSection__thirdProduct p{
      width: 100%;
      padding-top: 10px;
      font-size: 1.2rem;
   }
}